//
   Created by awunnenb on 27.11.13.

extends layout
block content
    h2= title
        form(method="post", data-ajax="false", action="/save/#{action._id}")
            // Delete word
            a(href="/done/#{action._id}", data-role="button", data-icon="check", data-inline="true") Delete this Word
            // Listview
            ul(data-role="listview", data-inset="true")
                li(data-role="fieldcontain")
                    label(for="wordeng") Word (English)
                    input(id="wordeng", type="text", name="wordeng", maxlength="150", value=action.wordeng)
                li(data-role="fieldcontain")
                    label(for="wordrus") Translation (Russian)
                    input(id="wordrus", type="text", name="wordrus", maxlength="150", value=action.wordrus)
                li(data-role="fieldcontain")
                    label(for="lesson") Lesson
                    select(id="lesson", name="lesson", data-inline="true", data-native-menu="false")
                        each item in lessons
                           option(value="#{item.name}", selected=item.name==action.lesson) #{item.name}
            input(type="submit", value="Update", data-icon="check", data-inline="true")
            a(href="/home", data-role="button", data-icon="back",data-rel="back", data-inline="true") Cancel                
//
                li(data-role="fieldcontain")
                    label(for="date") Datum
                    input(id="date", type="datetime-local", name="datetime", maxlength="10", value=action.datetime)
                li(data-role="fieldcontain")
                    label(for="note") Notiz
                    textarea(name="note", id="note") #{action.note}
                
